<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1> Welcome to my App</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias distinctio hic placeat adipisci, in odit suscipit molestiae eum magnam nostrum iure nesciunt illo consequatur sed voluptatem? Error architecto facere nemo est odit ex ea cum, explicabo asperiores totam aut dolorem nisi! Ullam quos error sapiente amet impedit laborum? Commodi, nisi similique itaque, labore reiciendis nemo dolorem facere minima omnis est nihil autem aliquam error fuga aliquid fugiat explicabo aspernatur natus recusandae id optio corrupti voluptas quae nesciunt. Architecto aliquam sapiente, deleniti accusantium debitis beatae minus tempora ducimus in aliquid inventore consequatur adipisci voluptatem vero quibusdam ratione veniam ipsa et ipsum!
    </p>
</body>
</html>